*{
  padding: 0px 0px;
  margin: 0px 0px;
  font-family: "Hiragino Kaku Gothic ProN";
}
.clear{
  clear: both;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
/* ここまで全体への記述 */
/* ここから各要素への記述 */
body{
  border-top:8px solid rgb(1, 38, 119);
}
.title-wrapper{
  width: 500px;
  float: left;
}
.logo-mark{
  float: left;
  height: 70px;
  margin-top: 20px;
  margin-left: 10px;
}
.title-logo2{
  padding:6px 0px 0px 5px;
  font-size: 40px;
  float: left;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(1, 38, 119);
}
.title-wrapper p{
  text-align: center;
  /* padding-right: 20px; */
}

.header-right{
  float: right;
  padding: 20px 50px 10px 0px;
  width: 170px;
}

.header-right span{
  padding: 0px 5px;
  margin-right: 10px;
  color: aliceblue;
  background-color: black;
  border-radius: 6px;
}
.header-right ul{
  margin-top: 15px;
  width: 164px;
}
.header-right li{
  margin-top: 2px;
}
.open-hour{
  margin-top: 5px;
  font-size: 11px;
  padding: 5px;
  border: 1px solid rgb(128, 128, 128);
  width: 152px;
}
.header-menu ul{
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.header-menu li{
  width: 25%;
  flex: auto;
  background-color: rgb(1, 38, 119);
  border-right:1px solid rgba(255, 255, 255, 0.5);
}
.header-menu a{
  padding-top: 15px;
  
  font-size: 16px ;
  flex: auto;
  color: white;
  
  display: inline-block;
  width:100%;
  height: 35px;
  text-align: center;
  vertical-align: middle;
}
.header-menu a:hover{
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.329);
}
.header-menu a:active{
  background-color: rgba(0, 0, 0, 0.329);
}
.message-wrapper{
  height: 60vw;
  width: 100%;
  background-image: url(soybean-field.jpg);
  background-size: cover;
}
.message-container{
  height: 200px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0));
  
}
.message-container h1{
  color: aliceblue;
  padding-right: 20px;
  opacity: 0.9;
  font-size: 60px;
  padding-top: 30px;
  text-align: right;
}
.message-container p{
  font-weight: bold;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  font-size: 20px;
  text-align: right;
}
footer{
  color: rgba(255, 255, 255, 0.856);
  background-color: rgb(0, 20, 63);
}
.footer-left{
  float: left;
  width: 260px;
}
.footer-left h1{
  padding: 10px 0px 0px 10px;
  font-size: 18px;
}
.footer-left p{
  font-size: 10px;
  padding-left: 10px;
}

.footer-right{
  padding-top: 10px;
  float: right;
  width: 470px;
  
}
.footer-right div{
  display: inline-block;
  width: 24%;
  /* background-color: rgba(255, 255, 255, 0.089); */
}
.footer-right h1{
  font-weight: normal;
  text-align: center;
  font-size: 12px;
  border-right:1px solid white;
}

.copy-right{
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}








@media(max-width:770px){
  header{
    text-align: center;
  }
  .title-wrapper{
    text-align: center;
    width: 90%;
    margin: 0px auto;
    float: none;
  }
  .logo-mark{
    padding: 0px 0px;
    margin: 0px 0px;
    width: 17vw;
    height: auto;
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
  .title-logo2{
    vertical-align: middle;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 7vw;
    display: inline-block;
    float: none;
  }
  .title-wrapper p{
    font-size: 3.2vw;
  }


  .header-right{
    float: none;
    padding: 0px 0px;
    width: 60%;
    display: inline-block;
  }
  .header-right ul{
    width: 100%;
  }
  .header-right li{
    font-size: 3.5vw;
  }
  .header-right p{
    font-size: 3vw;
    width: 100%;
    padding: 2px 0px;
  }
  .header-menu ul{
    flex-wrap: wrap;

  }
  .header-menu li{
    flex: auto;
    width: 49%;
    border: none;
  }
  .header-menu a{
    background:  linear-gradient(-145deg, rgb(28, 58, 122), rgb(17, 29, 54));;
    padding: 3vw 0vw;
    height: auto;
    font-size: 5vw;
    flex: auto;
    color: white;
    display: inline-block;
    text-align: center;
  }
  .vertical-border{
    background-color: rgb(0, 15, 80);
    flex: auto;
    width: 1%;
  }
  .horizontal-border{
    background-color: rgb(0, 15, 80);
    flex: auto;
    width: 50%;
    height: 1vw;
  }
  .message-wrapper{
    height:700px;
  }
  .message-container h1{
    font-size: 7vw;
    padding: 140px 0px 10px 0px;
    text-align: center;
  }
  .message-container p{
    font-size: 3vw;
    text-align: center;
  }
  .footer-right{
    width: 100%;
    display: flex;
  }
  .footer-left h1{
    font-size: 3vw;
  }
  .footer-right div{
    flex: auto;
  }
  .copy-right{
    font-size: 2vw;
  }

}

/* print setting */
@media print {
  body {
  -webkit-print-color-adjust: exact;
  top:0 !IMPORTANT;
  left:0 !IMPORTANT;
  width:200mm !IMPORTANT;
  height:290mm !IMPORTANT;
  }
  }