.message-wrapper{
  height: 60vw;
  width: 100%;
  background-image: url(soybean-field.jpg);
  background-size: cover;
}
.message-container{
  height: 200px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0));
  
}

.message-container h1{
  color: aliceblue;
  padding-right: 20px;
  opacity: 0.9;
  font-size: 60px;
  padding-top: 30px;
  text-align: right;
}
.message-container p{
  font-weight: bold;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  font-size: 20px;
  text-align: right;
}


@media(max-width:770px){
  .message-wrapper{
    height:550px;
  }
  .message-container h1{
    font-size: 7vw;
  }
  .message-container p{
    font-size: 2.7vw;
  }
}