.message-wrapper{
  padding: 10px 0px;
  height: auto;
  width: 100%;
  background-image: url(soybean-field.jpg);
  background-size: cover;
}
.message-container{
  width: 75%;
  padding-bottom: 10px;
  background-color: rgba(240, 240, 240, 0.753);
  margin: 0px auto;
  text-align: center;
}
.message-container h1{
  padding: 15px 0px 10px 0px;
  width: 85%;
  font-size: 25px;
  font-weight: normal;
  margin: 0px auto;
  border-bottom:1px dotted black;
}
.about-content{
  text-align: left;
  width: 85%;
  margin: 0px auto;
  border-bottom: 1px dotted black;
}
.message-container h2{
  padding: 6px 0px 6px 6px;
  display: inline-block;
  width: 33%;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
}
.business{
  float: left;
}
.business-contents{
  float: right;
}
.message-container p{
  display: inline-block;
  padding: 6px 0px;
  width: 64%;
  text-align: left;
}
.relation-left{
  width: 100px !important;
}
.about-content h3{
  font-weight: normal;
  font-size: 12px;
  display: inline;
}
.message-container ul{
  padding: 6px 25px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  text-align: left;
}
.message-container li{
  list-style: circle;
  flex: auto;
  width: 49%;
  font-size: 15px;
}

@media(max-width:770px){
  .message-container{
    width: 90%;
   
  }
  .message-container h1{
    font-size: 4vw;
  }
  .message-container h2{
    width: 27%;
    font-size: 3vw;
    padding-left: 0.6vw;
  }
  .message-container p{
    width: 68%;
    font-size: 2.3vw;
  }
  .relation-left{
    width: 15vw !important;
  }
  .about-content h3{
    font-size: 2vw;
  }
  .relation-right li{
    font-size: 3vw;

  }
}